@font-face {
    font-family: 'Quentin';
    src: url('../assets/fonts/Quentin.otf');
}

@font-face {
    font-family: 'LOVERBOY';
    src: url('../assets/fonts/LOVERBOY.TTF');
}

@font-face {
    font-family: 'BeMine';
    src: url('../assets/fonts/beMine.ttf');
}

@font-face {
    font-family: 'EditorialNew';
    src: url('../assets/fonts/PPEditorialNew-Regular.otf');
}

* {
    color: #e3252f;
    font-family: 'EditorialNew';
}

h3 {
    font-size: 3em;
}

h2 {
    font-size: 5em;
}

p {
    font-size: 1.5em;
}

.init {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #f6bbcf;
    min-height: 100vh;
}

.mail {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;

}

.mail img {
    width: 20%;
}

.index {
    margin: 0;
    padding: 0;
    background-color: #f6bbcf;
    min-height: 100vh;
}

header {
    height: 10em;
    margin: 0 5em;
    color: white;
    padding: 1rem;
    border-bottom: #e3252f solid 2px;
}

header ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 1rem;
}

header ul li a {
    font-family: 'Quentin';
    text-decoration: none;
    font-size: 5em;
}

.home,
.unlock,
.cards,
.cups,
.poem,
.calendar,
.end {
    height: 40em;
    align-items: center;
    display: flex;


}

.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 8em;
    text-align: center;
}

.page404 img {
    width: 20em;
    margin-bottom: 2em;
}

.home {
    flex-direction: column;
    padding: 0em 8em;
    text-align: center;
    justify-content: center;
}

.home img {
    width: 15em;
    margin-bottom: 2em;
}

.heart-scale {
    margin: 0;
    border-bottom: #e3252f solid 2px;
    border-top: #e3252f solid 2px;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100vw;
    height: 100vh;
}

.heart-scale img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.unlock,
.cards {
    justify-content: space-evenly;
    border-bottom: #e3252f solid 2px;
}

.unlock-container,
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fa9ec6;
    height: 30em;
    width: 20em;
    padding: 4em 1em 0em 1em;
    border: #e3252f solid 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.unlock-text {
    display: flex;
    margin-top: 4em;
    width: 60%;
    font-size: 0.5em;
}

.unlock-desc {
    flex-direction: column;
    text-align: center;
    width: 35em;
}

span,
.fa-comment {
    color: black;
}

span {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}

.cards img,
.poem-container img,
.unlock img {
    width: 13em;
}

.cups-container {
    display: inline-block;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.cups-container img {
    object-fit: cover;
    transition: transform 0.3s ease;
}

.cups img:hover {
    animation: rotateAnimation 0.7s linear infinite;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(50deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.cards-text {
    display: flex;
    margin-top: 4em;
    width: 60%;
    font-size: 0.5em;
}

.cards-desc {
    flex-direction: column;
    text-align: center;
    width: 35em;
}

.cups,
.poem,
.calendar {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-bottom: #e3252f solid 2px;
}

.cups-container img {
    width: 10em;
    margin-top: 3em;
}

.air-ballon {
    display: flex;
    position: relative;
    width: 100%;
    height: 40em;
    text-align: center;
    background: linear-gradient(to bottom, #87CEEB, #ffffff);
    overflow: hidden;
    border-bottom: #e3252f solid 2px;
}

.balloon {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 15em;
    height: auto;
    transform: translate(0, 0);
    /* init translation */
    z-index: 2;
}

.air-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.air-desc h3 {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f6bbcf;
    border-radius: 10px;
    margin: 4em 5em 0 5em;
    padding: 0.5em 0.5em 0.4em 0.5em;
    border: #e3252f solid 2px;
}

.poem {
    justify-content: space-evenly;
}

.poem>p {
    margin: 0 3em;
}

.poem-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

.poem-container p {
    background-color: #f8edf3;
    padding: 0.3em;
    border-radius: 10px;
    border: 2px solid #e3252f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.calendar {
    background-color: #fa9ec6;
}

.calendar p {
    background-color: #f8edf3;
    padding: 0.3em;
    border-radius: 10px;
    border: 2px solid #e3252f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.calendar-container img {
    width: 10em;
    margin-top: 3em;
}

.end {
    justify-content: space-evenly;
    text-align: center;
}

.end-container {
    display: flex;
    position: relative;
}

.end img {
    border: #e3252f solid 2px;
    width: 35em;
    height: 25em;
    object-fit: cover;
    border-radius: 50% / 50%;
    object-position: center 30%;
}

.end h3 {
    width: 10em;
    margin: 0 0.3em;
}

footer {
    display: flex;
    flex-direction: column;
    border-top: #e3252f solid 2px;
    text-align: center;
    padding: 2em 0;
    margin-top: 2rem;
}

footer nav {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0;
}

footer nav a {
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
    font-size: 1.5em;
}

footer img {
    width: 15em;
}

@media screen and (max-width: 1318px) {
    .end h3 {
        width: 8em;
        margin: 0 0.8em;
    }

}

@media screen and (max-width: 1280px) {

    .page404 img {
        width: 15em;

        h3 {
            font-size: 2em;
        }

        h2 {
            font-size: 3em;
        }

        p {
            font-size: 1.25em;
        }

        .heart-scale, .end {
            height: 40em;
        }

        .end {
            display: flex;
            justify-content: space-evenly;
        }

        .end-container {
            display: flex;
            position: relative;
        }

        .end img {
            border: #e3252f solid 2px;
            width: 35em;
            height: 25em;
            object-fit: cover;
            border-radius: 50% / 50%;
            object-position: center 30%;
        }
    }

    @media screen and (max-width: 1180px) {

        .unlock,
        .cards {
            align-items: center;
            height: 40em;
            display: flex;
            justify-content: space-evenly;
            border-bottom: #e3252f solid 2px;
        }

        .unlock-container,
        .cards-container {
            height: 20em;
            width: 15em;
        }

        .home img,
        .cards img,
        .poem-container img,
        .unlock img {
            width: 10em;
        }

        h2 {
            font-size: 2.5em;
        }

        .end {
            flex-direction: column;
        }

        .end h3 {
            width: 20em;
            margin: 0.5em;
        }
    }

    @media screen and (max-width: 950px) {

        .page404 img {
            width: 10em;
        }

        header>nav>ul>li>a {
            font-size: 3em;
        }

        header {
            height: 6em;
        }

        header ul {
            display: flex;
            justify-content: center;
            padding: 0;
        }

        header ul li {
            display: inline;
            margin-right: 1rem;
        }

        .home p {
            width: 20em;
        }

        .heart-scale, .air-ballon {
            height: 30em;
        }

        .unlock {
            flex-direction: column;
        }

        .unlock-container,
        .cards-container {
            margin-top: 2em;
        }

        .cards {
            flex-direction: column-reverse;
        }

        .cups {
            height: 35em;
        }

        .air-ballon h3 {
            margin-top: 2em;
        }


        .poem>p {
            width: 30em;
        }

        .poem-container {
            flex-direction: column;
        }

        .balloon {
            left: -20%;
        }

        .calendar p, .poem p, .cups p{
            width: 20em;
        }
    }

    @media screen and (max-width: 650px) {
        header>nav>ul>li>a {
            font-size: 2em;
        }

        header {
            height: 4em;
        }

        h2 {
            font-size: 1.75em;
        }

        h3 {
            font-size: 1.5em;
        }

        p {
            font-size: 1em;
        }

        .home, .cups, .poem, .calendar, .end {
            height: 30em;
        }

        .cups img {
            width: 8em;
            padding-bottom: 2em;
        }

        .balloon {
            left: -50%;
        }

        .cups>p,
        .poem>p,
        .calendar>p {
            width: 20em;
        }

        .poem img {
            width: 8em;
        }

        .end img {
            width: 15em;
            height: 10em;
        }

        .end h3 {
            margin: 0;
        }
    }

    @media screen and (max-width: 560px) {
        h2 {
            font-size: 1.2em;
        }

        h3,
        footer nav a {
            font-size: 1.15em;
        }

        p {
            font-size: 1em;
        }

        header>nav>ul>li>a {
            font-size: 1.5em;
            margin: 0;
            width: 100%;
        }

        header {
            height: 3em;
            margin: 0;
        }

        .home {
            height: 25em;
        }

        .home p {
            width: 15em;
            font-size: 1em;
        }

        .balloon {
            left: -120%;
            width: 12em;
        }

        .unlock-desc,
        .cards-desc,
        .cups>p,
        .poem p,
        .calendar p,
        .i-love-you img {
            width: 15em;
        }
    }
}