@font-face {
    font-family: 'Quentin';
    src: url('../assets/fonts/Quentin.otf');
}

@font-face {
    font-family: 'LOVERBOY';
    src: url('../assets/fonts/LOVERBOY.TTF');
}

@font-face {
    font-family: 'BeMine';
    src: url('../assets/fonts/beMine.ttf');
}

@font-face {
    font-family: 'EditorialNew';
    src: url('../assets/fonts/PPEditorialNew-Regular.otf');
}

* {
    color: #e3252f;
    font-family: 'EditorialNew';
}

h3 {
    font-size: 3em;
}

h2 {
    font-size: 5em;
}

p{
    font-size: 1.5em;
}

.init{
    display:flex;
    margin: 0;
    padding: 0;
    background-color: #f6bbcf;
    min-height: 100vh;
}

.mail {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    
}

.mail img {
    width: 20%;
}

.index {
    margin: 0;
    padding: 0;
    background-color: #f6bbcf;
    min-height: 100vh;
}

header {
    height: 10em;
    margin: 0 5em;
    color: white;
    padding: 1rem;
    border-bottom: #e3252f solid 2px;
}

header ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 1rem;
}

header ul li a {
    font-family: 'Quentin';
    text-decoration: none;
    font-size: 5em;
}

.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 8em;
    text-align: center;
}

.page404 img {
    width: 20%;
    margin-bottom: 2em;
}

.home {
    display: flex;
    height: 40em;
    flex-direction: column;
    align-items: center;
    padding: 0em 8em;
    text-align: center;
    justify-content: center;
}

.home img {
    width: 15em;
    margin-bottom: 2em;
}

.heart-scale {
    margin: 0;
    border-bottom: #e3252f solid 2px;
    border-top: #e3252f solid 2px;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100vw;
    height: 100vh;
}
.heart-scale img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.unlock {
    align-items: center;
    height: 40em;
    display: flex;
    justify-content: space-evenly;
    border-bottom: #e3252f solid 2px;
}
.unlock-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fa9ec6;
    height: 30em;
    width: 20em;
    padding: 4em 1em 0em 1em;
    border: #e3252f solid 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.unlock img{
    width: 13em;
}
.unlock-text{
    display: flex;
    margin-top: 4em;
    width: 60%;
    font-size: 0.5em;
}
.unlock-desc {
    flex-direction: column;
    text-align: center;
    width: 35em;
}

span, .fa-comment{
    color: black;
}

span {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}

.cards {
    align-items: center;
    height: 40em;
    display: flex;
    justify-content: space-evenly;
    border-bottom: #e3252f solid 2px;
}
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fa9ec6;
    height: 30em;
    width: 20em;
    padding: 4em 1em 0em 1em;
    border: #e3252f solid 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.cards img {
    width: 13em;
}
.cards-text {
    display: flex;
    margin-top: 4em;
    width: 60%;
    font-size: 0.5em;
}
.cards-desc {
    flex-direction: column;
    text-align: center;
    width: 35em;
}

.cups {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40em;
    justify-content: center;
    border-bottom: #e3252f solid 2px;
}

.cups-container img{
    width: 10em;
    margin-top: 3em;
}

.air-ballon {
    display: flex;
    position: relative;
    width: 100%;
    height: 40em;
    text-align: center;
    background: linear-gradient(to bottom, #87CEEB, #ffffff);
    overflow: hidden;
    border-bottom: #e3252f solid 2px;
}

.balloon {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 15em;
    height: auto;
    transform: translate(0, 0);
    /* init translation */
    z-index: 2;
}

.air-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.air-desc h3{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f6bbcf;
    border-radius: 10px;
    margin: 4em 5em 0 5em;
    padding: 0.5em 0.5em 0.4em 0.5em;
    border: #e3252f solid 2px;
}

.poem {
    display: flex;
    height: 40em;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: #e3252f solid 2px;
}

.poem-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

.poem-container p{
    background-color: #f8edf3;
    padding: 0.3em;
    border-radius: 10px;
    border: 2px solid #e3252f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.poem-container img{
    width: 13em;
}

.calendar {
    background-color: #fa9ec6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40em;
    justify-content: center;
    border-bottom: #e3252f solid 2px;
}

.calendar p{
    background-color: #f8edf3;
    padding: 0.3em;
    border-radius: 10px;
    border: 2px solid #e3252f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.calendar-container img{
    width: 10em;
    margin-top: 3em;
}

.end{
    display: flex;
    height: 40em;
    justify-content: space-evenly;
    align-items: center;
}

.end-container{
    display: flex;
    position: relative;
}

.end img {
    border: #e3252f solid 2px;
    width: 35em;
    height: 25em;
    object-fit: cover;
    border-radius: 50% / 50%;
    object-position: center 30%;
}

footer {
    border-top: #e3252f solid 2px;
    text-align: center;
    padding: 2em 0;
    margin-top: 2rem;
}